<div class="card">
    <div class="card-media">
        <div class="img-rounded">
            <img src="https://dcode.design/portfolio/me.svg" >
        </div>
    </div>
    <div class="card-body">
        <h1 ><%= infos.coordonnes.prenom %></h1>
        <h1 > <%= infos.coordonnes.nom %></h1>
        <div class="small-divider"></div>
        <h2 ><%= infos.coordonnes.poste %> </h2>
    </div>
    <div class="card-social">
        <a href="#">Behance</a>
        <a href="#">Linkedin</a>
        <a href="#">CodePen</a>
    </div>
</div>
