<nav class="nav" >
    <a href="/" title="" ><i class="fas fa-fill-drip"></i> Competences </a>
    <a href="/experiences" title="" > <i class="fas fa-flask"></i> Experiences </a>
    <a href="/etudes" title="" ><i class="fas fa-graduation-cap"></i> Etudes </a>
    <a href="/contact" title="" > <i class="fas fa-paper-plane"></i> Contact </a>
</nav>
