<%- include('./partials/header'); %>
<main>
    <div class="d-flex">
        <div class="case">
            <%- include('./includes/infos'); %>
        </div>
        <div class="case">
            <div class="container">
                <%- include(pages); %>
            </div>
        </div>
    </div>
</main>
<%- include('./partials/footer'); %>

