<div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">

    <div class="card-body">
        <h1 class="card-title"> Connexion</h1>
        <form action="/" method="POST">
            <div class="mb-12 mt-3 row">
                <label for="staticEmail" class="col-sm-12 col-form-label">Email</label> <br>
                <div class="col-sm-12">
                    <input type="text" name="email" class="form-control" id="staticEmail" value="gravythomas@gmail.com">
                </div>
            </div>
            <div class="mb-12 mt-3 row">
                <label for="inputPassword"  class="col-sm-12 col-form-label">Password</label> <br>
                <div class="col-sm-12">
                    <input type="password" name="password" class="form-control" id="inputPassword" value="123456">
                </div>
            </div>
            <div class="col-auto mt-3">
                <button type="submit" class="btn btn-primary mb-3">Log In</button>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link active" href="/subscribe">Subscribe</a>
            </li>
        </ul>
    </div>
</div>
