<form action="#" method="POST">
    <input type="hidden" name="sendForm" value="formInfos">
    <div class="mb-12 row">
        <label for="titrecv" class="col-sm-12 col-form-label">titre du cv</label>
        <br>
        <div class="col-sm-12">
            <input type="text" name="titrecv" class="form-control" id="titrecv"
                   placeholder="CV Vendeur" value="">
            <!--<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">-->
        </div>
    </div>

    <div class="mb-12 mt-3 row">
        <label for="description" class="col-sm-12 col-form-label">Description</label>
        <br>
        <div class="col-sm-12">
            <textarea name="description" class="form-control" placeholder="..." style="height: 100px"></textarea>
            <!--<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">-->
        </div>
    </div>
</form>
